body {
	background-color: #FFFFFF;
}

article {
	display: inline-block;
	width: 20%;
	margin: auto;
	padding: 0 40px 0 16px;
}

article h1 {
	color: #E64A19;
	text-align: center;
	text-decoration: none;
}

article p {
	color: #E64A19;
	text-align: center;
	text-decoration: none;
}

.card {
	background-color: #FFFFFF;
	border-radius: 2px;
	display: block;
	float: left;
	height: 200px;
	width: 300px;
	margin: auto;
	margin-top: 100px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card:hover {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 1px 2px rgba(0,0,0,0.22);
}

.contact h1 {
	margin-top: 150px;
	margin-bottom: 25px;
	text-align: center;
	color: #000000;
	font-size: 64px;
}

.contact h2 {
	margin-top: 25px;
	padding: 0;
	text-align: center;
	color: #000000;
	font-size: 32px;
}

.contact p {
	margin-top: 25px;
	padding: 0;
	text-align: left;
	color: #000000;
	font-size: 16px;
}

.contact ul {
	margin-left: 30%;
}

hr { 
	background-color: #000000;
	border: 0;
    display: block;
    width: 50%;
    margin: 0 auto;
    height: 1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}