body {
	background-color: #000000;
	font-family: "Lato", serif, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 40px;
	background-color: #E64A19;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

nav ul {
	margin: 10px 10px;
	padding: 0;
}

nav ul li {
	display: inline;
	padding: 0 10px 0 10px;
}

nav ul li a {
	font-size: 14px;
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #CFD8DC;
}

.left-nav {
	float: left;
}

.right-nav {
	float: right;
}

.main-content h1 {
	margin-top: 250px;
	text-align: center;
	color: #FFFFFF;
	font-size: 64px;
}

.main-content h2 {
	margin-top: -25px;
	padding: 0;
	text-align: center;
	color: #FFFFFF;
	font-size: 64px;
}

.main-content p {
	margin-top: -25px;
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}