body {
	margin: 0;
	background-color: #e3e3e3;
	font-family: 'Roboto', sans-serif;
	overflow: scroll;
}

a {
	text-decoration: none;
	color: #000;
}

nav {
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: #F4511E;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 2;
	top: 0;
}

ul {
	display: inline-block;
}

li {
	padding: 10px;
	display: inline-block;
}

li a {
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
}

li a:hover {
	opacity: 1;
}

pre {
    white-space: pre-wrap;
    background: #f6f6f6;
    margin: 20px;
    padding: 20px;
    border-left: solid;
    border-right: solid;
}

.active {
	opacity: 0.7;
}

.photo {
	display: block;
	position: relative;
	margin: 150px auto -250px auto;
	width: 200px;
	z-index: 1;
}

.photo img {
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card {
	margin: 150px auto 50px auto;
	background: #fff;
	border-radius: 2px;
	display: block;
	height: 100%;
	position: relative;
	width: 60%;
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 30px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card h1 {
	text-align: center;
	margin: 0;
	margin-bottom: -10px;
	padding-top: 140px;
	font-size: 64px;
}

.card h2 {
	text-align: center;
	margin: 0;
	font-size: 64px;
}

.card h3 {
	text-align: center;
	margin: 0;
	padding-top: 0;
	font-size: 22px;
	font-weight: lighter;
}

.card h4 {
	text-align: left;
	margin: 0;
	padding-top: 0;
	padding: 0 50px 0 50px;
	font-size: 22px;
}

.card p {
	padding: 0 50px 0 50px;
	text-indent: 35px;
}

.card a {
	color: #5C6BC0;
}

.card a:hover {
	opacity: 0.7;
}

.card ul {
}

.card ul li {
}

.contacts-wrapper {
    text-align: center;
}

.per-link {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 20px;
}

.post-content img {
	width: 600px;
	padding: 0 50px;
}

.orange {
  color: #F4511E;
}

.black {
	color: #000;
}

.squeeze {
	padding: 0 100px 0 100px;
	background-color: #f6f6f6;
}